{%- render 'brauz.shopify-context' -%}
<script>
  window.Brauz_shopify_context = window.Brauz_shopify_context || {};
  window.Brauz_shopify_context.book_a_consultation = {
    heading: {{ section.settings.heading | json }},
    sub_heading: {{ section.settings.sub_heading | json }},
    hero_image_url: {% if section.settings.hero_image %}{{ section.settings.hero_image | image_url | json }}{% else %}null{% endif %}
  };
</script>
{%- render 'brauz.appointment' -%}

<div id="brauz-booking-widget"></div>

{% schema %}
  {
    "name": "Book a Consultation",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Book An Online Consultation"
      }, {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading"
      }, {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      }
    ]
  }
{% endschema %}