{%- render 'brauz.shopify-context' -%}

{% comment %} development {% endcomment %}
<script src="https://d3aq2u4yw77ivo.cloudfront.net/find-in-store/shopify/inskincosmedics/find-in-store.shopify.inskincosmedics.dev.js" async></script>

{% comment %} production {% endcomment %}
{% comment %} <script src="https://d3aq2u4yw77ivo.cloudfront.net/find-in-store/shopify/inskincosmedics/find-in-store.shopify.inskincosmedics.prod.js" async></script> {% endcomment %}

<div class="section section--page-width">
  <div id="brauz-find-in-store-stores-page"></div>
</div>

{% schema %}
  {"name": "Clinic Finder"}
{% endschema %}